.tx-blue {
    color: #537791;
}

.tx-grey {
    color: #C1C0B9;
}

.tx-cream {
    color: #F7F6E7;
}

.tx-lg-grey {
    color: #E7E6E1;
}

.bg-blue {
    background-color: #537791;
}

.bg-grey {
    background-color: #C1C0B9;
}

.bg-cream {
    background-color: #F7F6E7;
}

.bg-lg-grey {
    background-color: #E7E6E1;
}

.ft-roboto {
    font-family: 'Roboto', sans-serif;
}

.ft-monte {
    font-family: 'Montserrat', sans-serif;
}

.jumbotron {
    padding: 2rem 1rem;
    width: 70%;
    margin: auto;
}

.margin-top-1 {
    margin-top: 80px;
}

hr.hr-line {
    height: 8px;
    width: 200px;
    background-color: #537791;
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
}

.ft-size-1 {
    font-size: 20px;
}